*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-image: url("images/banner/banner3.png");
    background-position: center;
    background-size: cover;
    padding:150px 100px;
    text-align: right;
    
}
.header-title{
    color: white;
    font-size: 65px;
}
.header-des{
    font-size: 14px;
    margin: 20px 0px;
    color: #cacaca;
    line-height: 26px;
}
.btn{
    text-decoration: none;
    display:inline-block;
    padding: 15px 20px;
    background-color: white;
    color: #0065B2;
    font-weight: 600;
    border-radius: 5px;

}
/* =========reson-section============ */
.reson-section{
    padding: 50px 120px;
    text-align: left;
}
.reson-area{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;  
}
.reson-area img{
    width: 500px;
}
.section-title {
    font-size: 30px;
}
.content-area p{
    margin: 20px 0;
    font-size: 14px;
}
.content-area i{
    color: #0065B2;
}
/* =========plan-section============ */
.plan-section{
    padding: 50px 150px;
    text-align: center;
}
.plan-area{
    display: flex;
    justify-content: space-evenly;
    
}
.plan-item{
    margin: 40px 0;
}
.plan-title{
    font-size: 20px;
    margin: 10px 0;
}
/* =========calling-section============ */
.calling-section{
    padding: 50px 170px;
}
.calling-area{
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url("images/watch.png");
    border-radius: 8px;
    padding: 70px;
}
.calling-title{
    font-size: 30px;
    margin: 10px 0;
    color: white;
}
/* =========visit-section============ */
.visit-area{
    padding: 50px 170px;
}
.my-gallery{
    display: flex;
    gap: 30px;
}
.my-gallery img{
    width: 320px;
    border-radius: 5px;
}
.gallery-title{
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}
/* =========footer-section============ */
footer{
    background: #151414;
    padding: 50px 170px;
    color: #cacaca;
}
.footer-content-area{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: start;
    
}
.footer-des{
    margin: 10px 0;
}
.footer-img{
    margin: 5px;
}
input[type='email']{
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: #cacaca;
}
input[type='submit']{
    background-color: #005FAC;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}